version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ..:/home/vscode/workspace:cached
    command: sleep infinity
    networks:
      - dev-network

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"   # AMQP port
      - "15672:15672" # Management UI
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=password
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    networks:
      - dev-network
  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    networks:
      - dev-network

  redis-commander:
    image: rediscommander/redis-commander:latest
    environment:
      - REDIS_HOSTS=local:redis:6379
    ports:
      - "8081:8081"
    networks:
      - dev-network
    depends_on:
      - redis

volumes:
  rabbitmq-data:

networks:
  dev-network:
    driver: bridge
